# registry=https://npm.pkg.github.com/YATHENDRA1995
# //npm.pkg.github.com/:_authToken=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

//npm.pkg.github.com/:_authToken=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

@YATHENDRA1995:registry=https://npm.pkg.github.com